<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>ZITADEL PKCE Demo</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="icon" th:href="@{/static/app-logo.svg}" type="image/svg+xml"/>
</head>
<body class="bg-gray-50 min-h-screen flex flex-col">
<div layout:fragment="content"></div>
</body>
</html>
